.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  padding-top: 300px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.GameBoard {
  width: 1000px;
  height: 500px;
  background: blueviolet;
  position: relative;
}

.GameControl {
  position: relative;
  top: 0;
  width: 300px;
}

.dot {
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}